
@{
    ViewBag.Title = "OderProcess";
    Layout = "~/Views/Shared/_Layout_Management.cshtml";
    ThongDong_MVC.Models.ThongDongDBContext dBContext = new ThongDong_MVC.Models.ThongDongDBContext();
}

<h2>Oder Processing</h2>

<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 1px solid rgba(190, 190, 190, 0.5)
    }

    .quantity {
        background: rgb(230 230 230 / 50%);
        border-color: rgba(197, 197, 197, 0.5);
    }

    a:hover {
        text-decoration: none !important;
    }

    a {
        color: #5a5a5a;
    }

    .button-form {
        color: #5a5a5a !important;
        width: 100%;
    }
</style>
@{
    <table class="table">
        <tr>
            <td>Name of Tour</td>
            <td>Start Date</td>
            <td>Date End</td>
            <td>Quantity Adult</td>
            <td>Quantity Child</td>
            <td>Action</td>
        </tr>
        @foreach (var oder in dBContext.BOOKING_DETAIL)
        {
            DateTime dateEnd =(DateTime)oder.END_DATE;
            DateTime dateStart =(DateTime)oder.START_DATE;
            <tr>
                <td>@oder.TOUR.NAME</td>
                <td>@dateStart.ToString("dd-MM-yyyy")</td>
                <td>@dateEnd.ToString("dd-MM-yyyy")</td>
                <td>@oder.QUANTITY_ADULT</td>
                <td>@oder.QUANTITY_CHILD</td>
                <td>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <a href="@Url.Action("DeleteOder","Maganement", new {id = oder.BOOKING_DETAIL_ID})">Delete</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("OderProcessDetail","Maganement", new {id = oder.BOOKING_DETAIL_ID})">Detail</a>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>

}
